![Netflix](https://cdn4.iconfinder.com/data/icons/social-media-logos-6/512/64-netflix-128.png)

# Netflix Data 

This data was posted on [kaggle](kaggle.com). and the link is [here](https://www.kaggle.com/shivamb/netflix-shows)

This data contains information on TV Shows/Movies released and origin.

In [1]:
%pylab inline
import datetime
import matplotlib as mpl
import matplotlib.pyplot as plt
import pandas as pd

Populating the interactive namespace from numpy and matplotlib

In [2]:
df = pd.read_csv("./Data/netflix_titles.csv")
df.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,81145628,Movie,Norm of the North: King Sized Adventure,"Richard Finn, Tim Maltby","Alan Marriott, Andrew Toth, Brian Dobson, Cole...","United States, India, South Korea, China","September 9, 2019",2019,TV-PG,90 min,"Children & Family Movies, Comedies",Before planning an awesome wedding for his gra...
1,80117401,Movie,Jandino: Whatever it Takes,NaN,Jandino Asporaat,United Kingdom,"September 9, 2016",2016,TV-MA,94 min,Stand-Up Comedy,Jandino Asporaat riffs on the challenges of ra...
2,70234439,TV Show,Transformers Prime,NaN,"Peter Cullen, Sumalee Montano, Frank Welker, J...",United States,"September 8, 2018",2013,TV-Y7-FV,1 Season,Kids' TV,"With the help of three human allies, the Autob..."
3,80058654,TV Show,Transformers: Robots in Disguise,NaN,"Will Friedle, Darren Criss, Constance Zimmer, ...",United States,"September 8, 2018",2016,TV-Y7,1 Season,Kids' TV,When a prison ship crash unleashes hundreds of...
4,80125979,Movie,#realityhigh,Fernando Lebrija,"Nesta Cooper, Kate Walsh, John Michael Higgins...",United States,"September 8, 2017",2017,TV-14,99 min,Comedies,When nerdy high schooler Dani finally attracts...

## Cleaning Data as per requirement

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6234 entries, 0 to 6233
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       6234 non-null   int64
 1   type          6234 non-null   object
 2   title         6234 non-null   object
 3   director      4265 non-null   object
 4   cast          5664 non-null   object
 5   country       5758 non-null   object
 6   date_added    6223 non-null   object
 7   release_year  6234 non-null   int64
 8   rating        6224 non-null   object
 9   duration      6234 non-null   object
 10  listed_in     6234 non-null   object
 11  description   6234 non-null   object
dtypes: int64(2), object(10)
memory usage: 584.6+ KB

In [4]:
df.set_index('show_id',inplace = True)

In [5]:
df.isnull().sum()

type               0
title              0
director        1969
cast             570
country          476
date_added        11
release_year       0
rating            10
duration           0
listed_in          0
description        0
dtype: int64

In [6]:
#filling All Nulls values with a value
df['director'].fillna("NA",inplace = True)
df['cast'].fillna("NA",inplace= True) 
df['rating'].fillna("NA",inplace = True)
df['country'].fillna('NA', inplace = True)
df['date_added'].fillna(datetime.date.today(),inplace = True)
df['date_added'] = pd.to_datetime(df['date_added'], infer_datetime_format=True)
df['release_year'] = pd.to_datetime(df['release_year'], format = '%Y')
df['release_year'] = df['release_year'].dt.to_period('Y')
df.head(10)

,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
show_id,,,,,,,,,,,
81145628,Movie,Norm of the North: King Sized Adventure,"Richard Finn, Tim Maltby","Alan Marriott, Andrew Toth, Brian Dobson, Cole...","United States, India, South Korea, China",2019-09-09,2019,TV-PG,90 min,"Children & Family Movies, Comedies",Before planning an awesome wedding for his gra...
80117401,Movie,Jandino: Whatever it Takes,,Jandino Asporaat,United Kingdom,2016-09-09,2016,TV-MA,94 min,Stand-Up Comedy,Jandino Asporaat riffs on the challenges of ra...
70234439,TV Show,Transformers Prime,,"Peter Cullen, Sumalee Montano, Frank Welker, J...",United States,2018-09-08,2013,TV-Y7-FV,1 Season,Kids' TV,"With the help of three human allies, the Autob..."
80058654,TV Show,Transformers: Robots in Disguise,,"Will Friedle, Darren Criss, Constance Zimmer, ...",United States,2018-09-08,2016,TV-Y7,1 Season,Kids' TV,When a prison ship crash unleashes hundreds of...
80125979,Movie,#realityhigh,Fernando Lebrija,"Nesta Cooper, Kate Walsh, John Michael Higgins...",United States,2017-09-08,2017,TV-14,99 min,Comedies,When nerdy high schooler Dani finally attracts...
80163890,TV Show,Apaches,,"Alberto Ammann, Eloy Azorín, Verónica Echegui,...",Spain,2017-09-08,2016,TV-MA,1 Season,"Crime TV Shows, International TV Shows, Spanis...",A young journalist is forced into a life of cr...
70304989,Movie,Automata,Gabe Ibáñez,"Antonio Banderas, Dylan McDermott, Melanie Gri...","Bulgaria, United States, Spain, Canada",2017-09-08,2014,R,110 min,"International Movies, Sci-Fi & Fantasy, Thrillers","In a dystopian future, an insurance adjuster f..."
80164077,Movie,Fabrizio Copano: Solo pienso en mi,"Rodrigo Toro, Francisco Schultz",Fabrizio Copano,Chile,2017-09-08,2017,TV-MA,60 min,Stand-Up Comedy,Fabrizio Copano takes audience participation t...
80117902,TV Show,Fire Chasers,,,United States,2017-09-08,2017,TV-MA,1 Season,"Docuseries, Science & Nature TV","As California's 2016 fire season rages, brave ..."
70304990,Movie,Good People,Henrik Ruben Genz,"James Franco, Kate Hudson, Tom Wilkinson, Omar...","United States, United Kingdom, Denmark, Sweden",2017-09-08,2014,R,90 min,"Action & Adventure, Thrillers",A struggling couple can't believe their luck w...

In [7]:
df.rename(columns = {"type":"Category","title":"Title","director":"Director","cast": "Cast","country":"Country","date_added":"Date Added","release_year":"Release Year","rating":"Rating","duration":"Duration","listed_in":"Genres"},inplace = True)

In [8]:
df.shape

(6234, 11)

In [9]:
df.drop(['description'],axis = 1,inplace = True)

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6234 entries, 81145628 to 70153404
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Category      6234 non-null   object
 1   Title         6234 non-null   object
 2   Director      6234 non-null   object
 3   Cast          6234 non-null   object
 4   Country       6234 non-null   object
 5   Date Added    6234 non-null   datetime64[ns]
 6   Release Year  6234 non-null   period[A-DEC]
 7   Rating        6234 non-null   object
 8   Duration      6234 non-null   object
 9   Genres        6234 non-null   object
dtypes: datetime64[ns](1), object(8), period[A-DEC](1)
memory usage: 535.7+ KB

In [11]:
df = df.sort_values('Release Year',ascending = True)
df.head()

,Category,Title,Director,Cast,Country,Date Added,Release Year,Rating,Duration,Genres
show_id,,,,,,,,,,
81030762,TV Show,Pioneers: First Women Filmmakers*,,,United States,2018-12-30,1925,TV-PG,1 Season,TV Shows
60027945,Movie,Prelude to War,Frank Capra,,United States,2017-03-31,1942,TV-PG,52 min,"Classic Movies, Documentaries"
60027942,Movie,The Battle of Midway,John Ford,"Henry Fonda, Jane Darwell",United States,2017-03-31,1942,TV-G,18 min,"Classic Movies, Documentaries"
80119186,Movie,Undercover: How to Operate Behind Enemy Lines,John Ford,,United States,2017-03-31,1943,TV-PG,61 min,"Classic Movies, Documentaries"
70013050,Movie,Why We Fight: The Battle of Russia,"Frank Capra, Anatole Litvak",,United States,2017-03-31,1943,TV-14,82 min,Documentaries

## Visualising Data